@model OyunİncelemeSitesiProjesi.Models.Uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <h4><b>Üye</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rumuz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rumuz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.UyeID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Listeye Geri Dön", "Index", null, new { @class = "btn btn-info" })
</p>
