@model OyunİncelemeSitesiProjesi.Models.ViewModel.Oyun_VM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "AdminOyunlar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><b>Oyun</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OyunEntity.OyunID)

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.OyunAd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunEntity.OyunAd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunEntity.OyunAd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.Turler, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    @foreach (var item in Model.OyunTurList)
                    {
                        <tr>
                            <td>
                                @item.Tur.TurAd
                            </td>
                            <td>@Html.ActionLink("Güncelle", "TurGuncelle", new { id = item.OyunTurID }, new { @class = "btn btn-warning" })|</td>
                            <td>@Html.ActionLink("Sil", "TurSil", new { id = item.OyunTurID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Tür Ekle", "TurEkle", new { id = Model.OyunEntity.OyunID }, new { @class = "btn btn-success" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.Platformlar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    @foreach (var item in Model.OyunPlatformList)
                    {
                    <tr>
                        <td>@item.Platform.PlatformAd</td>
                        <td>@Html.ActionLink("Güncelle", "PlatformGuncelle", new { id = item.OyunPlatformID }, new { @class = "btn btn-warning" })|</td>
                        <td>@Html.ActionLink("Sil", "PlatformSil", new { id = item.OyunPlatformID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
                    </tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Platform Ekle", "PlatformEkle", new { id = Model.OyunEntity.OyunID }, new { @class = "btn btn-success" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.Resim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" value="" class="form-control" />
                @Html.HiddenFor(model => model.OyunEntity.Resim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunEntity.Resim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.CikisYili, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunEntity.CikisYili, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunEntity.CikisYili, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.İnceleme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunEntity.İnceleme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunEntity.İnceleme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OyunEntity.Puan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OyunEntity.Puan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OyunEntity.Puan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-warning" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Listeye Geri Dön", "Index", null, new { @class = "btn btn-info" })
</div>
