@model OyunİncelemeSitesiProjesi.Models.ViewModel.Oyun_VM
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Tur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="container">
    <tr>
        <td><h3><b>@Model.TurEntity.TurAd</b></h3></td>
    </tr>
</table>
<br />
@foreach (var oyun in Model.OyunTurList)
{
    <table class="container">
        <tr>
            <td><h3><b>@oyun.Oyun.OyunAd</b></h3></td>
        </tr>
        <tr>
            <td><img src="~/Images/@oyun.Oyun.Resim" alt="@oyun.Oyun.Resim" width="512" height="512" /></td>
        </tr>
        <tr>
            <td><h4><b>Çıkış Yılı</b></h4>@oyun.Oyun.CikisYili.ToShortDateString()</td>
        </tr>
        <tr>
            <td><h4><b>İnceleme Puanı</b></h4>@oyun.Oyun.Puan/5</td>
        </tr>
        <tr>
            <td><a href="~/Oyun/Detay/@oyun.Oyun.OyunID"><input type="submit" name="name" value="Detaya Git" class="btn btn-primary" /></a></td>
        </tr>
    </table>
    <br />
}

@Html.PagedListPager((IPagedList)Model.OyunTurList, sayfa => Url.Action("Tur", new { sayfa }))
